In [ ]:
sqlite3.connect(database[,timeout,other optional arguments])
打开一个到SQLite数据库文件的连接，如果数据库打开成功，则返回一个连接对象。
当一个数据库被多个连接访问，且其中一个修改了数据库，此时SqLite数据库被锁定，直到事物提交。
timeout表示连接等待锁定的持续时间，直到发生异常断开连接。timeout参数默认是5.0秒。
如果给定的数据库名称不存在，则创建一个数据库。可以指定数据库文件的路径。

In [ ]:
connection.cursor([cursorCloass])
该历程创建一个cursor，将在Python数据库编程中用到。该方法接受一个单一可选参数继承自sqlite3.Cursor的cursorClass。

In [ ]:
cursor.execute(sql[,optional parameters])
执行一个SQL语句。该SQL语句可以被参数化(用占位符代替SQL文本)。支持问号和命名站位符
例如：cursor.execute("insert into people values(?,?)",(who,age))

connection.execute(sql[,optional parameters])
由光标(cursor)对象提供的方法的快捷方式，它通过调用光标(cursor)方法创建了一个中间的光标对象，然后通过给定参数调用光标的execute方法

cursor.executemany(sql,seq_of_parameters)
该例程对seq_of_parameters中的所有参数或映射执行一个SQL命令。

In [ ]:
connection.ececutemany(sql[,parameters])
光标对象提供的快捷方式

In [ ]:
cursor.executescript(sql_script)
通过执行脚本文件能够执行多个sql语句，语句间用分号(;)分隔。

In [ ]:
connection.executescript(sql_script)
cursor对象的快捷方式

In [ ]:
connection.total_changes()
返回自数据库连接打开以来被修改、插入或删除数据的总行数

In [ ]:
connection.commit()
提交当前事务。如果未调用该方法，自上次调用commit以来所做的任何动作对其他数据库连接来说是不可见的。

In [ ]:
connection.rollback()
回滚自上次调用commit（）以来对数据库所做的更改。

In [ ]:
connection.clos()
关闭数据库连接。注意，该操作不会自动调用commit()，不调用commit()方法直接关闭数据库连接，所有对数据库的更改将丢失。

In [ ]:
cursor.fetchone()
获取查询结果中的下一行，返回一个单一的序列，当没有更多可用的数据时，则返回None。

In [ ]:
cursor.fetchmany([size=cursor.arranysize])
获取查询结果集中的下一行组，返回一个列表。当没有更多的可用行时，则返回一个空列表，该方法尝试获取由size参数指定的尽可能多的行。

cursor.fetchall()
获取查询结果集中所有(剩余)的行，返回一个列表。当没有可用行时，则返回一个空的列表。

In [3]:
import sqlite3
conn = sqlite3.connect('db/test.db')
print("opened database successfully")
cur = conn.cursor()
cur.execute('''
    create table company(
        id int primary key not null,
        Name TEXT not null,
        Age int not null,
        Address char(50),
        Slary real
    );''')
print('Table created successfully')
conn.commit()
conn.close()

opened database successfully
Table created successfully

In [9]:
import sqlite3
conn = sqlite3.connect('db/test.db')
cur = conn.cursor()
print('Opend database successfully')
cur.execute("insert into company(id,Name,Age,Address,Slary)\
             values(1,'Paul',32,'California',20000.00);")
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SLARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 );")

cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SLARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 );")

cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SLARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 );")
conn.commit()
print('Records create successfully');
conn.close()

Opend database successfully
Records create successfully

In [11]:
import sqlite3
conn = sqlite3.connect('db/test.db')
cursor = conn.cursor()
print('Opened database successfuuly')
result = cursor.execute("select * from company")
for row in result:
    print("id = ",row[0])
    print('Name = ',row[1])
    print('Age = ',row[2])
    print('Address = ',row[3])
    print('Slary = ',row[4])
    
conn.close()

Opened database successfuuly
id =  1
Name =  Paul
Age =  32
Address =  California
Slary =  20000.0
id =  2
Name =  Allen
Age =  25
Address =  Texas
Slary =  15000.0
id =  3
Name =  Teddy
Age =  23
Address =  Norway
Slary =  20000.0
id =  4
Name =  Mark
Age =  25
Address =  Rich-Mond
Slary =  65000.0

In [8]:
import sqlite3
conn = sqlite3.connect('db/test.db')
cur = conn.cursor()
cur.execute("update company set slary=25000.00 where id=1")
conn.commit()
print("影响到的行数",conn.total_changes)
row = cur.execute("select * from company")
r = row.fetchone()
#for r in row:
print(r)
#cursor = conn.execute("select * from company")
#for row in cursor:
#    print("结果是：",cursor[1])

影响到的行数 1
(1, 'Paul', 32, 'California', 25000.0)