## 系统回写错误分析

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#设置pandas
pd.set_option('max_columns', 20)
pd.set_option('max_rows', 20)
pd.set_option('display.float_format', lambda x: '%.2f' % x) # 禁用科学计数法
#pd.set_option('display.max_rows',None)

#打开文件
fpath = r'D:/#条形码系统/盘点/库存对照/err/'
xlout = pd.read_excel(fpath+'领料出库单列表_指示编号取消.xlsx',usecols=[0,1,3,6,7,8,9,10,16])
xlout['单据编号'] = xlout.apply(lambda x:str(x.单据编号[:6]),axis=1)
xlerr = pd.read_excel(fpath+'出库数据同步失败.xlsx',usecols=[2,3,4,5])
xlerr['单据编号'] = xlerr.apply(lambda x:str(x.单据编号),axis=1)
df = pd.merge(xlerr,xlout,on='单据编号',how='left').fillna(0)
df[df['资材编号']!=0]

,index,单据编号,出库批次,数量,出库时间,指示编号,安排出库日期,资材编号,品名,规格,计量单位,计划数量,仓库完成日期
0,0,750045,0,-20.00,2017-06-01,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
1,1,874699,0,2.00,2017-06-12,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
2,2,761696,0,0.44,2017-11-14,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
3,3,770468,0,0.50,2017-11-14,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
4,4,778423,0,1.50,2017-11-14,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,799,540092,1,6.00,2019-12-26,Y0282,2018/08/28,JC31B54833,六角螺栓,M6X35-ZM3C,PCS,6.00,2019/12/26 19:47
800,800,57416,1,6.00,2019-12-26,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
801,801,540059,1,24.00,2019-12-26,Y0282,2018/08/28,JJ31B50913,六角十字螺栓,M8X16-ZM3CｾA,PCS,24.00,2019/12/26 19:47
802,802,57397,1,33.00,2019-12-26,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN
803,803,51344,1,3.00,2019-12-27,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN